In [118]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [119]:
X_full = pd.read_csv('AB_NYC_2019.csv', index_col=False)

In [120]:
X_full.index

RangeIndex(start=0, stop=29987, step=1)

In [121]:
X_full.head()

,id,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9.0,19/10/18,0.21,6.0,365
1,2595,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45.0,21/05/19,0.38,2.0,355
2,3647,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0.0,NaN,NaN,1.0,365
3,3831,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270.0,05/07/19,4.64,1.0,194
4,5022,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9.0,19/11/18,0.10,1.0,0

In [122]:
X_full.shape

(29987, 15)

In [123]:
missing_val_by_col = (X_full.isnull().sum())

In [124]:
print(missing_val_by_col[missing_val_by_col>0])

host_name                           18
neighbourhood_group                  2
latitude                             2
longitude                            3
room_type                            3
price                               26
minimum_nights                      14
number_of_reviews                   17
last_review                       4981
reviews_per_month                 4981
calculated_host_listings_count       2
dtype: int64

In [125]:
cols = X_full.columns[X_full.isnull().any()]

In [126]:
cols

Index(['host_name', 'neighbourhood_group', 'latitude', 'longitude',
       'room_type', 'price', 'minimum_nights', 'number_of_reviews',
       'last_review', 'reviews_per_month', 'calculated_host_listings_count'],
      dtype='object')

In [127]:
reduced_X = (X_full.drop(['last_review','reviews_per_month'], axis=1))

In [128]:
reduced_X.head()

,id,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,2539,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9.0,6.0,365
1,2595,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45.0,2.0,355
2,3647,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0.0,1.0,365
3,3831,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270.0,1.0,194
4,5022,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9.0,1.0,0

In [129]:
reduced_X.fillna(0)

,id,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,2539,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9.0,6.0,365
1,2595,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45.0,2.0,355
2,3647,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0.0,1.0,365
3,3831,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270.0,1.0,194
4,5022,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29982,23084751,67375976,Mymy,Manhattan,Midtown,40.75544,-73.96901,Entire home/apt,180,4,0.0,1.0,0
29983,23085504,24796602,Wesly/Jessica,Brooklyn,Crown Heights,40.67180,-73.92678,Private room,55,2,34.0,4.0,341
29984,23086483,86771798,Daia,Manhattan,Murray Hill,40.74742,-73.97660,Entire home/apt,365,5,14.0,2.0,50
29985,23087403,5788047,Andrea,Manhattan,Lower East Side,40.71269,-73.98713,Entire home/apt,150,2,10.0,1.0,6
29986,23088623,47104818,Sebastian,Brooklyn,Bedford-Stuyvesant,40.69181,-73.93310,Private room,99,3,16.0,3.0,360

In [130]:
reduced_X.shape

(29987, 13)

In [131]:
missing_val_by_col = (reduced_X.isnull().sum())

In [132]:
missing_val_by_col

id                                 0
host_id                            0
host_name                         18
neighbourhood_group                2
neighbourhood                      0
latitude                           2
longitude                          3
room_type                          3
price                             26
minimum_nights                    14
number_of_reviews                 17
calculated_host_listings_count     2
availability_365                   0
dtype: int64

In [133]:
X = reduced_X.iloc[:,:-4]

In [134]:
X

,id,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price
0,2539,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149
1,2595,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225
2,3647,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150
3,3831,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89
4,5022,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80
...,...,...,...,...,...,...,...,...,...
29982,23084751,67375976,Mymy,Manhattan,Midtown,40.75544,-73.96901,Entire home/apt,180
29983,23085504,24796602,Wesly/Jessica,Brooklyn,Crown Heights,40.67180,-73.92678,Private room,55
29984,23086483,86771798,Daia,Manhattan,Murray Hill,40.74742,-73.97660,Entire home/apt,365
29985,23087403,5788047,Andrea,Manhattan,Lower East Side,40.71269,-73.98713,Entire home/apt,150
29986,23088623,47104818,Sebastian,Brooklyn,Bedford-Stuyvesant,40.69181,-73.93310,Private room,99

In [135]:
Y = reduced_X.iloc[:,9:]

In [136]:
Y

,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,1,9.0,6.0,365
1,1,45.0,2.0,355
2,3,0.0,1.0,365
3,1,270.0,1.0,194
4,10,9.0,1.0,0
...,...,...,...,...
29982,4,0.0,1.0,0
29983,2,34.0,4.0,341
29984,5,14.0,2.0,50
29985,2,10.0,1.0,6
29986,3,16.0,3.0,360

In [137]:
from sklearn.linear_model import LinearRegression

In [138]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, shuffle= True)

lineReg = LinearRegression()
lineReg.fit(X_train, y_train)
lineReg.score(X_test, y_test )

ValueError: could not convert string to float: 'Iman'