In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [10]:
X_full = pd.read_csv('AB_NYC_2019.csv', index_col='id')

In [11]:
X_full.head()

,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,
2539,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9.0,19/10/18,0.21,6.0,365
2595,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45.0,21/05/19,0.38,2.0,355
3647,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0.0,NaN,NaN,1.0,365
3831,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270.0,05/07/19,4.64,1.0,194
5022,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9.0,19/11/18,0.10,1.0,0

In [12]:
X_full.shape

(29987, 14)

In [13]:
missing_val_by_col = (X_full.isnull().sum())

In [14]:
print(missing_val_by_col)

host_id                              0
host_name                           18
neighbourhood_group                  2
neighbourhood                        0
latitude                             2
longitude                            3
room_type                            3
price                               26
minimum_nights                      14
number_of_reviews                   17
last_review                       4981
reviews_per_month                 4981
calculated_host_listings_count       2
availability_365                     0
dtype: int64